:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --center-page-color: #e5e5e5;
  --page-bottom-color: #f5f4fa;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --logo-style: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3em;
}

ul {
  list-style: none;
}

.text-logo {
    text-decoration: none;
}

/* Цвет вторичного текста #757575; /*
/* Цвет основного текста #212121; /*
/* Цвет фона шапки #FFFFFF; /*
/* Цвет фона Верхней части и Подвала #2F303A; /*
/* Цвет средины страницы #E5E5E5; /*
/* Цвет нижней части страницы #F5F4FA; /*
/* Белый #FFFFFF; /*
/* Акцент #2196F3; /*

/* ______________________header style______________ */

.header {
  background-color: var(--header-background-color);
}

.logo-link {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-style);
}

.bottom {
  font-family: 'Raleway', sans-serif;
  color: var(--white-color);
}

/* ссылки */
.paragrahp-style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.paragrahp-style:hover {
  color: var(--accent-color);
}

.imail-list, .info:hover {
  color: var(--accent-color);
}

.info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* -------------------main style-------------------- */

.main-section {
  background-color: var(--footer-background-color);
}
/* Главный заголовок */
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.list-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Кнопка */
.order-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  letter-spacing: 0.06em;
}

.order-button:hover 
.order-button:focus {
  background-color: var(--accent-color);
}

/* Фон №2 */
.decision-section,
.main-basik {
  background-color: var(--center-page-color);
}
/* скрытый заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* portf list */
.button-current, {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.button-current:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* качества */
.benefits-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.busy-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* наша команда */
.hidden-list {
  background-color: var(--page-bottom-color);
}

.hidden-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.specialist {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.specialist-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* __________________footer stryle_________________ */

.basement {
  background-color: var(--footer-background-color);
}


.address-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact-imail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-telephone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
